@model WebStock.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<p class="title">@Model.Name</p>

<h4>Are you sure you want to delete @Model.Name?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Active?
        </dt>
        <dd class="col-sm-10">
            @if (Model.Active == true) {
                <span><i class="fa-sharp fa-solid fa-circle-check"></i></span>
            }
            else {
                <span><i class="fa-solid fa-circle-xmark"></i></span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>
