html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none; /* no underline */
}

.ModelDescription {
    text-align: justify;
    text-justify: inter-word;
}

.columnsAlignEnd {
    text-align: end;
}

.fa-circle-check, .fa-circle-xmark {
    font-size: 20px;
}

.fa-circle-check {
    color: rgb(62, 170, 15);
}

.fa-circle-xmark {
    color: rgb(215, 3, 3);
}


.title {
    font-size: 35px;
    color: black;
}

.auth {
    margin-left: auto;
    margin-right: auto;
}