html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none !important; /* no underline */
}

.ModelDescription {
    text-align: justify;
    text-justify: inter-word;
}

.columnsAlignEnd {
    text-align: end;
}

.fa-circle-check, .fa-circle-xmark {
    font-size: 20px;
}

.fa-circle-check {
    color: rgb(0, 148, 255);
}

.fa-circle-xmark {
    color: rgb(222, 68, 0);
}

.title {
    font-size: 35px;
    color: black;
}

.auth {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-decoration: none;
}

.fa-heart {
    color: rgb(225, 81, 55);
}

.box-login {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.box-nav {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
}

.register {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
input {
    outline: none;
}